*,
#app {
  h1 {
    font-size: 35px;
    font-style: normal;
    font-weight: bold;
    line-height: 53px;
  }
  h2 {
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
  }
  h3 {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
  }
  h4 {
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 23px;
  }
  h5 {
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
  }
  h6 {
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    line-height: 33px;
  }
  h7 {
    font-size: 26px;
    font-style: normal;
    font-weight: bold;
    line-height: 40px;
  }
  h8 {
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: 46px;
  }
  h9 {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
  }
  h10 {
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
  }
}
